---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 18:01:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-173113387"}]}]}'
  recorded_at: Mon, 09 Aug 2021 18:01:08 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628532068,"sunrise":1628503241,"sunset":1628553736,"temp":300.11,"feels_like":302.02,"pressure":1020,"humidity":71,"dew_point":294.4,"uvi":4.81,"clouds":75,"visibility":10000,"wind_speed":0.89,"wind_deg":248,"wind_gust":2.68,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628532000,"temp":300.11,"feels_like":302.02,"pressure":1020,"humidity":71,"dew_point":294.4,"uvi":4.81,"clouds":75,"visibility":10000,"wind_speed":3.25,"wind_deg":60,"wind_gust":3.72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.26},{"dt":1628535600,"temp":300.26,"feels_like":302.02,"pressure":1020,"humidity":68,"dew_point":293.85,"uvi":4.04,"clouds":71,"visibility":10000,"wind_speed":2.73,"wind_deg":63,"wind_gust":3.2,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.6},{"dt":1628539200,"temp":300.37,"feels_like":302.02,"pressure":1020,"humidity":66,"dew_point":293.47,"uvi":2.7,"clouds":71,"visibility":10000,"wind_speed":2.77,"wind_deg":82,"wind_gust":2.92,"weather":[{"[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=40.692529,-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d01f9ce70dcbc85d6abddbfa2ede589"
    body:
      encoding: UTF-8
      string: '[{"id":9722,"obdb_id":"circa-brewing-co-brooklyn","name":"Circa Brewing
        Co","brewery_type":"brewpub","street":"141 Lawrence St","address_2":null,"address_3":null,"city":"Brooklyn","state":"New
        York","county_province":null,"postal_code":"11201","country":"United States","longitude":"-73.986155","latitude":"40.6917243","phone":"7188580055","website_url":"http://www.circabrewing.co","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":13690,"obdb_id":"randolph-beer-dumbo-brooklyn","name":"Randolph
        Beer Dumbo","brewery_type":"brewpub","street":"77 Sands St","address_2":null,"address_3":null,"city":"Brooklyn","state":"New
        York","county_province":null,"postal_code":"11201-1431","country":"United
        States","longitude":"-73.987503","latitude":"40.70005509","phone":"7182983331","website_url":"http://www.randolphbeer.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"20[...]
