---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 09 Sep 2021 19:07:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2119689360"}]}]}'
  recorded_at: Thu, 09 Sep 2021 19:07:18 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1631214432,"sunrise":1631183469,"sunset":1631229337,"temp":70.77,"feels_like":71.49,"pressure":1008,"humidity":84,"dew_point":65.7,"uvi":2.22,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":250,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.4}},"hourly":[{"dt":1631214000,"temp":70.77,"feels_like":71.49,"pressure":1008,"humidity":84,"dew_point":65.7,"uvi":2.22,"clouds":90,"visibility":10000,"wind_speed":3.15,"wind_deg":284,"wind_gust":4.54,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.79,"rain":{"1h":0.73}},{"dt":1631217600,"temp":71.22,"feels_like":71.91,"pressure":1008,"humidity":82,"dew_point":65.44,"uvi":1.37,"clouds":92,"visibility":10000,"wind_speed":3.47,"wind_deg":299,"wind_gust":5.59,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.82,"rain":{"1h":0.49}},{"dt":1631221200,"temp":71.71,"feels_like":72.34,"pressure":1007,"humidity":80,"dew_point":65.21,"uvi":0.64,"clouds":94,"visibility":10000,"wind_speed":4.14,"wind_deg":31[...]
