---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 14:57:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1268872652"}]}]}'
  recorded_at: Mon, 09 Aug 2021 14:57:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628521079,"sunrise":1628503241,"sunset":1628553736,"temp":297.9,"feels_like":298.52,"pressure":1021,"humidity":80,"dew_point":294.22,"uvi":6.19,"clouds":75,"visibility":10000,"wind_speed":0.45,"wind_deg":37,"wind_gust":2.24,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628517600,"temp":297.61,"feels_like":298.17,"pressure":1021,"humidity":79,"dew_point":293.73,"uvi":4.24,"clouds":79,"visibility":10000,"wind_speed":4.95,"wind_deg":36,"wind_gust":6.72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.17},{"dt":1628521200,"temp":297.9,"feels_like":298.52,"pressure":1021,"humidity":80,"dew_point":294.22,"uvi":6.19,"clouds":75,"visibility":10000,"wind_speed":4.63,"wind_deg":42,"wind_gust":5.9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.17},{"dt":1628524800,"temp":298.14,"feels_like":298.71,"pressure":1021,"humidity":77,"dew_point":293.83,"uvi":6.13,"clouds":76,"visibility":10000,"wind_speed":3.98,"wind_deg":48,"wind_gust":5,"weather":[{"id[...]
