---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=40.692529,-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d01f9ce70dcbc85d6abddbfa2ede589"
    body:
      encoding: UTF-8
      string: '[{"id":9722,"obdb_id":"circa-brewing-co-brooklyn","name":"Circa Brewing
        Co","brewery_type":"brewpub","street":"141 Lawrence St","address_2":null,"address_3":null,"city":"Brooklyn","state":"New
        York","county_province":null,"postal_code":"11201","country":"United States","longitude":"-73.986155","latitude":"40.6917243","phone":"7188580055","website_url":"http://www.circabrewing.co","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":13690,"obdb_id":"randolph-beer-dumbo-brooklyn","name":"Randolph
        Beer Dumbo","brewery_type":"brewpub","street":"77 Sands St","address_2":null,"address_3":null,"city":"Brooklyn","state":"New
        York","county_province":null,"postal_code":"11201-1431","country":"United
        States","longitude":"-73.987503","latitude":"40.70005509","phone":"7182983331","website_url":"http://www.randolphbeer.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"20[...]
