---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 10:31:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-192415231"}]}]}'
  recorded_at: Wed, 11 Aug 2021 10:31:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628677864,"sunrise":1628676161,"sunset":1628726383,"temp":72.32,"feels_like":73.49,"pressure":1018,"humidity":90,"dew_point":69.22,"uvi":0.25,"clouds":90,"visibility":10000,"wind_speed":4.61,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1628676000,"temp":72.55,"feels_like":73.78,"pressure":1018,"humidity":91,"dew_point":69.78,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":7.54,"wind_deg":208,"wind_gust":18.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.69},{"dt":1628679600,"temp":72.32,"feels_like":73.49,"pressure":1018,"humidity":90,"dew_point":69.22,"uvi":0.25,"clouds":90,"visibility":10000,"wind_speed":7.49,"wind_deg":211,"wind_gust":16.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.69},{"dt":1628683200,"temp":73.02,"feels_like":74.21,"pressure":1018,"humidity":89,"dew_point":69.58,"uvi":0.99,"clouds":77,"visibility":10000,"wind_speed":8.75,"wind_deg":220,"wind_gust":15.19,"weather":[...]
