---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 21 Aug 2021 23:08:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2143677603"}]}]}'
  recorded_at: Sat, 21 Aug 2021 23:08:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1629587321,"sunrise":1629540757,"sunset":1629589550,"temp":79.23,"feels_like":79.23,"pressure":1012,"humidity":76,"dew_point":71.01,"uvi":0.07,"clouds":90,"visibility":10000,"wind_speed":1.99,"wind_deg":105,"wind_gust":5.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1629586800,"temp":79.23,"feels_like":79.23,"pressure":1012,"humidity":76,"dew_point":71.01,"uvi":0.07,"clouds":90,"visibility":10000,"wind_speed":7.4,"wind_deg":104,"wind_gust":9.8,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.45,"rain":{"1h":0.16}},{"dt":1629590400,"temp":79.5,"feels_like":79.5,"pressure":1012,"humidity":75,"dew_point":70.88,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":7.85,"wind_deg":102,"wind_gust":10.8,"weather":[{"id":503,"main":"Rain","description":"very
        heavy rain","icon":"10n"}],"pop":0.45,"rain":{"1h":48.63}},{"dt":1629594000,"temp":79.59,"feels_like":79.59,"pressure":1012,"humidity":74,"dew_point":70.57,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":7.83,"wind_deg":89,"wind_gust":1[...]
