---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 28 Aug 2021 11:04:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1324687184"}]}]}'
  recorded_at: Sat, 28 Aug 2021 11:04:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1630148593,"sunrise":1630145970,"sunset":1630193710,"temp":72.41,"feels_like":73.29,"pressure":1022,"humidity":84,"dew_point":67.3,"uvi":0.06,"clouds":90,"visibility":6437,"wind_speed":3,"wind_deg":82,"wind_gust":7,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":0.61}},"hourly":[{"dt":1630148400,"temp":72.41,"feels_like":73.29,"pressure":1022,"humidity":84,"dew_point":67.3,"uvi":0.06,"clouds":90,"visibility":10000,"wind_speed":16.51,"wind_deg":58,"wind_gust":24.38,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.97,"rain":{"1h":0.24}},{"dt":1630152000,"temp":72.18,"feels_like":73.04,"pressure":1022,"humidity":84,"dew_point":67.08,"uvi":0.29,"clouds":88,"visibility":10000,"wind_speed":15.97,"wind_deg":59,"wind_gust":25.03,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.77},{"dt":1630155600,"temp":71.91,"feels_like":72.75,"pressure":1022,"humidity":84,"dew_point":66.81,"uvi":0.85,"clouds":94,"visibility":10000,"wind_speed":15.93,"wind_deg":63,"wind_gus[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&page=1&per_page=1&query=moderate%20rain%20Brooklyn,NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID E3nd3h8BZpeWvsO9_kTjl2l8ixKSC002URETU93dcEI
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=10000&per_page=1&query=moderate+rain+Brooklyn%2CNY>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&per_page=1&query=moderate+rain+Brooklyn%2CNY>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"cf677884c9c32c208734a2343ad8ccaa"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"uFomxGheuGk","created_at":"2016-07-14T02:07:10-04:00","updated_at":"2021-08-27T22:00:55-04:00","promoted_at":"2016-07-14T02:07:10-04:00","width":4270,"height":2530,"color":"#260c0c","blur_hash":"LFCP6V0yMH?HK*,@V=R%Em$i-PNG","description":"Umbrella
        California St rain","alt_description":"person walking on street while holding
        black umbrella near cars on road at nighttime","urls":{"raw":"https://images.unsplash.com/photo-1468476396571-4d6f2a427ee7?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1468476396571-4d6f2a427ee7?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1468476396571-4d6f2a427ee7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1468476396571-4d6f2a427ee7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1468476396571-4d6f2a427ee7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/uFomxGheuGk","html":"https://unsplash.com/photos/uFomxGheuGk","download":"https://unsplash.com/photos/uFomxGheuGk/download","download_location":"https://api.unsplash.com/photos/uFomxGheuGk/download?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxtb2RlcmF0ZSUyMHJhaW4lMjBCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2MzAxNDg1OTc"},"categories":[],"likes":3103,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"Vneg4m7HleQ","updated_at":"2021-08-28T00:58:27-04:00","username":"todd_diemer","name":"Todd
        Diemer","first_name":"Todd","last_name":"Diemer","twitter_username":null,"portfolio_url":"http://www.todd-diemer.com","bio":"Instagram:
        @todd.diemer","location":null,"links":{"self":"https://api.unsplash.com/users/todd_diemer","html":"https://unsplash.com/@todd_diemer","photos":"https://api.unsplash.com/users/todd_diemer/photos","likes":"https://api.unsplash.com/users/todd_diemer/likes","portfolio":"https://api.unsplash.com/users/todd_diemer/portfolio","following":"https://api.unsplash.com/users/todd_diemer/following","followers":"https://api.unsplash.com/users/todd_diemer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1468475748-62270f6926bb.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-fb-1468475748-62270f6926bb.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-fb-1468475748-62270f6926bb.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"todd.diemer","total_collections":1,"total_likes":455,"total_photos":45,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"todd.diemer","portfolio_url":"http://www.todd-diemer.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-08-23T11:01:15-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
