---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&page=1&per_page=1&query=Brooklyn,NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID E3nd3h8BZpeWvsO9_kTjl2l8ixKSC002URETU93dcEI
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=5211&per_page=1&query=Brooklyn%2CNY>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&per_page=1&query=Brooklyn%2CNY>;
        rel="next"
      X-Total:
      - '5211'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"f2d33362b9bc1de9070cf6ee2110a351"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":5211,"total_pages":5211,"results":[{"id":"iD-mlXEQT9s","created_at":"2020-11-12T09:58:15-05:00","updated_at":"2021-08-09T15:23:22-04:00","promoted_at":null,"width":5184,"height":3456,"color":"#402626","blur_hash":"LUG@=KxaIoRk~BsSkDa{?IR*oIs:","description":"Rooftop
        Sunrise Skyline View, Brooklyn, New York City","alt_description":"brown and
        white concrete building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1605192396298-0e70f25c85da?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1605192396298-0e70f25c85da?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1605192396298-0e70f25c85da?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1605192396298-0e70f25c85da?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1605192396298-0e70f25c85da?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/iD-mlXEQT9s","html":"https://unsplash.com/photos/iD-mlXEQT9s","download":"https://unsplash.com/photos/iD-mlXEQT9s/download","download_location":"https://api.unsplash.com/photos/iD-mlXEQT9s/download?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjg2MjA0NzA"},"categories":[],"likes":8,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"ZtLjPRfGIak","updated_at":"2021-08-02T05:47:22-04:00","username":"josharmstrong","name":"Joshua
        Armstrong","first_name":"Joshua","last_name":"Armstrong","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/josharmstrong","html":"https://unsplash.com/@josharmstrong","photos":"https://api.unsplash.com/users/josharmstrong/photos","likes":"https://api.unsplash.com/users/josharmstrong/likes","portfolio":"https://api.unsplash.com/users/josharmstrong/portfolio","following":"https://api.unsplash.com/users/josharmstrong/following","followers":"https://api.unsplash.com/users/josharmstrong/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1605189689319-92e97b10329aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1605189689319-92e97b10329aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1605189689319-92e97b10329aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"armstrongxjosh","total_collections":1,"total_likes":3,"total_photos":14,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"armstrongxjosh","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"brooklyn"},{"type":"search","title":"ny"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Tue, 10 Aug 2021 19:40:37 GMT
recorded_with: VCR 6.0.0
