---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&page=1&per_page=1&query=Brooklyn,NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID E3nd3h8BZpeWvsO9_kTjl2l8ixKSC002URETU93dcEI
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=5266&per_page=1&query=Brooklyn%2CNY>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&per_page=1&query=Brooklyn%2CNY>;
        rel="next"
      X-Total:
      - '5266'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"917c1e1d48c618e116d861938578fc80"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":5266,"total_pages":5266,"results":[{"id":"vVxfziPUeqE","created_at":"2020-03-14T11:54:03-04:00","updated_at":"2021-08-21T16:15:18-04:00","promoted_at":null,"width":3089,"height":2048,"color":"#d9d9d9","blur_hash":"LyL;gJofIoV@_Nj@aeofIAWBbHt6","description":"Brooklyn
        Bridge NY. This was taken with a film camera.","alt_description":"people walking
        on bridge during daytime","urls":{"raw":"https://images.unsplash.com/photo-1584201207065-a119902ccca1?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1584201207065-a119902ccca1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1584201207065-a119902ccca1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1584201207065-a119902ccca1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1584201207065-a119902ccca1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/vVxfziPUeqE","html":"https://unsplash.com/photos/vVxfziPUeqE","download":"https://unsplash.com/photos/vVxfziPUeqE/download","download_location":"https://api.unsplash.com/photos/vVxfziPUeqE/download?ixid=MnwyNTI3MDd8MHwxfHNlYXJjaHwxfHxCcm9va2x5biUyQ05ZfGVufDB8MHx8fDE2Mjk1Nzk4MzM"},"categories":[],"likes":41,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"17SKCUX92KI","updated_at":"2021-08-19T10:28:11-04:00","username":"isabella_martine","name":"Isabella
        Martine","first_name":"Isabella","last_name":"Martine","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/isabella_martine","html":"https://unsplash.com/@isabella_martine","photos":"https://api.unsplash.com/users/isabella_martine/photos","likes":"https://api.unsplash.com/users/isabella_martine/likes","portfolio":"https://api.unsplash.com/users/isabella_martine/portfolio","following":"https://api.unsplash.com/users/isabella_martine/following","followers":"https://api.unsplash.com/users/isabella_martine/followers"},"profile_image":{"small":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"izzy_martine","total_collections":0,"total_likes":150,"total_photos":15,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"izzy_martine","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"brooklyn"},{"type":"search","title":"ny"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Sat, 21 Aug 2021 23:08:49 GMT
recorded_with: VCR 6.0.0
