---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628546417,"sunrise":1628503241,"sunset":1628553736,"temp":298.93,"feels_like":299.52,"pressure":1020,"humidity":75,"dew_point":294.16,"uvi":0.58,"clouds":75,"visibility":10000,"wind_speed":0.45,"wind_deg":90,"wind_gust":1.34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628546400,"temp":298.93,"feels_like":299.52,"pressure":1020,"humidity":75,"dew_point":294.16,"uvi":0.58,"clouds":75,"visibility":10000,"wind_speed":2.78,"wind_deg":108,"wind_gust":2.59,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.52},{"dt":1628550000,"temp":299.06,"feels_like":299.61,"pressure":1020,"humidity":73,"dew_point":293.85,"uvi":0.14,"clouds":75,"visibility":10000,"wind_speed":2.49,"wind_deg":109,"wind_gust":2.4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.52},{"dt":1628553600,"temp":298.99,"feels_like":299.48,"pressure":1020,"humidity":71,"dew_point":293.33,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":2.22,"wind_deg":125,"wind_gust":2.42,"weather":[{[...]
