---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628621266,"sunrise":1628589701,"sunset":1628640060,"temp":301.94,"feels_like":305.78,"pressure":1019,"humidity":72,"dew_point":296.39,"uvi":5.45,"clouds":75,"visibility":10000,"wind_speed":0.89,"wind_deg":100,"wind_gust":2.24,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628618400,"temp":301.89,"feels_like":305.32,"pressure":1019,"humidity":70,"dew_point":295.87,"uvi":7.51,"clouds":65,"visibility":7610,"wind_speed":4.58,"wind_deg":152,"wind_gust":5.76,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.22,"rain":{"1h":0.44}},{"dt":1628622000,"temp":301.94,"feels_like":305.78,"pressure":1019,"humidity":72,"dew_point":296.39,"uvi":5.45,"clouds":75,"visibility":10000,"wind_speed":4.9,"wind_deg":153,"wind_gust":5.96,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.35},{"dt":1628625600,"temp":301.81,"feels_like":305.32,"pressure":1019,"humidity":71,"dew_point":296.03,"uvi":3.64,"clouds":68,"visibility":10000,"wind_speed":4.96,"wind_deg":152,"wind_gust":5.31,"w[...]
