---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&location=Brooklyn,NY&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 28 Aug 2021 11:04:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Brooklyn,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brooklyn","adminArea5Type":"City","adminArea4":"Kings
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042076","unknownInput":"","type":"s","latLng":{"lat":40.692529,"lng":-73.990996},"displayLatLng":{"lat":40.692529,"lng":-73.990996},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=aExeEMOqWGa1wk4fGh4jz9ej8KfMXxKd&type=map&size=225,160&locations=40.692529,-73.990996|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-290615974"}]}]}'
  recorded_at: Sat, 28 Aug 2021 11:04:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1630148593,"sunrise":1630145970,"sunset":1630193710,"temp":72.41,"feels_like":73.29,"pressure":1022,"humidity":84,"dew_point":67.3,"uvi":0.06,"clouds":90,"visibility":6437,"wind_speed":3,"wind_deg":82,"wind_gust":7,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":0.61}},"hourly":[{"dt":1630148400,"temp":72.41,"feels_like":73.29,"pressure":1022,"humidity":84,"dew_point":67.3,"uvi":0.06,"clouds":90,"visibility":10000,"wind_speed":16.51,"wind_deg":58,"wind_gust":24.38,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.97,"rain":{"1h":0.24}},{"dt":1630152000,"temp":72.18,"feels_like":73.04,"pressure":1022,"humidity":84,"dew_point":67.08,"uvi":0.29,"clouds":88,"visibility":10000,"wind_speed":15.97,"wind_deg":59,"wind_gust":25.03,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.77},{"dt":1630155600,"temp":71.91,"feels_like":72.75,"pressure":1022,"humidity":84,"dew_point":66.81,"uvi":0.85,"clouds":94,"visibility":10000,"wind_speed":15.93,"wind_deg":63,"wind_gus[...]
