---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3c6b89c9c795a9cecc63494b0b3719a7&exclude=minutely,alerts&lat=40.692529&lon=-73.990996&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.6925,"lon":-73.991,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628688421,"sunrise":1628676161,"sunset":1628726383,"temp":77.07,"feels_like":78.53,"pressure":1017,"humidity":86,"dew_point":72.55,"uvi":2.41,"clouds":75,"visibility":10000,"wind_speed":1.01,"wind_deg":119,"wind_gust":1.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628686800,"temp":77.07,"feels_like":78.53,"pressure":1017,"humidity":86,"dew_point":72.55,"uvi":2.41,"clouds":75,"visibility":10000,"wind_speed":8.34,"wind_deg":228,"wind_gust":13.4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1628690400,"temp":77.85,"feels_like":79.23,"pressure":1017,"humidity":83,"dew_point":72.27,"uvi":4.37,"clouds":61,"visibility":10000,"wind_speed":8.14,"wind_deg":227,"wind_gust":12.37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1628694000,"temp":79.95,"feels_like":79.95,"pressure":1017,"humidity":76,"dew_point":71.71,"uvi":6.4,"clouds":47,"visibility":10000,"wind_speed":8.48,"wind_deg":219,"wind_gust":12.01,"weather":[{"id":80[...]
